.painel-de-controle {
  width: 40rem;
  display: flex;
  margin-bottom: 1rem;
}

.coluna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.separador {
  display: flex;
  height: 0.4rem;
}

.botao {
  margin-bottom: 0.5rem;
}
