.popUp {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: tranlslateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 0 0 30px;
}

.popUp.grande {
  width: 40rem;
}

.popUp.medio {
  width: 30rem;
}

.popUp.pequeno {
  width: 15rem;
}

.rodape button {
  margin: 1rem 1rem 0rem 1rem;
}

.lista-em-popup {
  max-height: 20rem;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.titulo {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.par {
  display: flex;
  padding: 0.5rem;
}

.par label {
  width: 9rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.coluna-direita {
  display: flex;
  width: 15rem;
  flex-direction: column;
  align-items: flex-start;
}

.wrap {
  display: flex;
  text-align: left;
  word-break: break-all;
}

.coluna-direita input {
  width: 100%;
}

.par select {
  width: 100%;
}

.mascara {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 500px;
  pointer-events: painted;
  z-index: 99;
}

.erros {
  color: red;
}

.input-container {
  display: flex;
  width: 100%;
}

.botao-adicionar-telefone {
  width: 5rem;
  display: flex;
}

.telefones-adicionados {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.telefone-adicionado {
  display: flex;
  width: 100%;
}

.erros {
  color: red;
}

.adicionar-telefone {
  display: flex;
}

.botao-adicionar-telefone {
  width: 5rem;
  display: flex;
}

.item-de-lista {
  display: flex;
  width: 100%;
  height: 1.5rem;
}

.texto-item-lista {
  display: flex;
  flex: 1;
}

.erros {
  color: red;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

th {
  background-color: white;
  border: 1px solid black;
  position: sticky;
  top: 0;
}

.tabela-disciplinas {
  margin-bottom: 1rem;
  width: 100%;
}

.coluna-nome-disciplina {
  width: 10rem;
}

.coluna-ch-disciplina {
  width: 5rem;
}

.coluna-presente-em {
  width: 12rem;
}

.coluna-marcador {
  width: 1rem;
}

.botao-rodape {
  margin: 0 1rem 0 1rem;
}

.competencias-alteradas {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  overflow-y: scroll;
}

.linha-competencia-alterada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
}

.nome-competencia-alterada {
  width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.niveis-competencia-alterada {
  text-align: left;
}
