.adicionar-telefone {
  display: flex;
}

.botao-adicionar-telefone {
  width: 5rem;
  display: flex;
}

.telefones-adicionados {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.telefone-adicionado {
  display: flex;
  width: 100%;
}

.erros {
  color: red;
}
