.invisivel {
  border-color: transparent;
}

.marcador-docente {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.checkbox {
  margin: 0;
}

.borda-direita {
  border-right: 1px solid black;
}

.marcador-curso-container {
  display: flex;
  width: 1.8rem;
  justify-content: center;
  border-bottom: 1px solid black;
}

.borda-esquerda-transparente {
  border-left: 1px solid transparent;
}
