label {
  outline: none;
}

select {
  outline: none;
}

.app {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50rem;
}

.margem {
  margin: 1rem;
}

.espacador {
  height: 7.5rem;
}

.flex {
  display: flex;
}

.azul {
  background-color: #3a589a;
  color: white;
  font-weight: 600;
}

.botao {
  display: flex;
  cursor: pointer;
  font-weight: 600;
}

.botao:hover {
  filter: contrast(130%);
}

.highlight:hover {
  filter: contrast(130%);
}

.azul-claro {
  background-color: #e0e4f4;
}

.azul.escuro {
  background-color: #2e467b;
}

.verde {
  background-color: #c0f4cc;
}

.amarelo {
  background-color: #fff49c;
}

.rosa {
  background-color: #ffbccc;
}

.vermelho {
  background-color: red;
}
