.tabela {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.borda {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.linha {
  display: flex;
  flex-direction: row;
}

.celula {
  display: flexbox;
  width: 5rem;
  padding: 0.3rem;
}
.primeira-coluna {
  display: flexbox;
  width: 20rem;
}

.contaianer {
  display: flex;
  flex-direction: column;
}

.colapsavel {
  cursor: pointer;
}

.colapsavel:hover {
  filter: contrast(120%);
}

.azul {
  background-color: #3a589a;
  color: white;
  font-weight: 600;
}

.azul-claro {
  background-color: #e0e4f4;
}

.azul.escuro {
  background-color: #2e467b;
}

.verde {
  background-color: #c0f4cc;
}

.amarelo {
  background-color: #fff49c;
}

.vermelho {
  background-color: #ffbccc;
}

.texto-esquerda {
  text-align: left;
}
