.tabela {
  margin-top: 1.5rem;
  overflow: scroll;
  max-width: 98vw;
  max-height: 71vh;
}

.borda {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.topo {
  border-top: 1px solid black;
}

.linha {
  display: flex;
  flex-direction: row;
}

.celula {
  display: flex;
  justify-content: center;
  width: 5rem;
  min-width: 5rem;
  height: 1rem;
  padding: 0.3rem;
}

.porcentagem {
  font-weight: 200;
  font-size: 0.8rem;
}

.carga-horaria-docente {
  padding-right: 0.5rem;
}

.primeira-coluna {
  border-left: 1px solid black;
  display: flexbox;
  width: 20rem;
  min-width: 20rem;
  left: 0;
  position: sticky;
}

.coluna-carga-horaria {
  display: flexbox;
  width: 3rem;
  min-width: 3rem;
  left: 20.7rem;
  position: sticky;
}

.contaianer {
  display: flex;
  flex-direction: column;
}

.texto-esquerda {
  text-align: left;
}

.texto-primeira-coluna {
  display: flexbox;
  flex: 1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
