div {
  font-size: 0.95em;
  font-weight: 300;
}

.linhaTabela {
  display: flex;
}

.borda {
  outline: 1px solid white;
}

.linha {
  display: flex;
  flex-direction: row;
}

.celula {
  display: flexbox;
  width: 5rem;
}
.primeira-coluna {
  display: flexbox;
  width: 20rem;
}

.contaianer {
  display: flex;
  flex-direction: column;
}
