.cabecalho {
  height: auto;
}

.linha-cabecalho {
  top: 0;
  position: sticky;
  z-index: 1;
}

.nome-docente {
  flex: 1;
  flex-direction: column;
  cursor: pointer;
}

.palavra {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.centro {
  align-items: center;
}
