.nav-bar-container {
  display: flex;
  position: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  flex-direction: column;
  z-index: 2;
}

.nav-bar {
  height: 4rem;
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.nav-bar-item-container {
  display: flex;
  cursor: pointer;
  user-select: none;
  font-size: 1.05rem;
}
.nav-bar-item {
  display: flex;
  border-right: 1px solid black;
  user-select: none;
  font-size: 1.05rem;
}

.nav-bar-item:hover {
  cursor: pointer;
}

.dropdown:hover .nav-bar-item {
  filter: contrast(130%);
}

.ativo {
  filter: contrast(130%);
}

.menu {
  outline: 1px solid black;
  display: none;
  position: absolute;
  flex-direction: column;
  top: 4.05rem;
  width: 12rem;
  align-items: center;
  flex: 1;
}

.botao-texto {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 6rem;
  padding: 0 1rem 0 1rem;
}

.menu-item {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.menu-item-container {
  display: flex;
  height: 2rem;
  align-items: center;
}

.dropdown {
  display: flex;
}

.dropdown:hover .menu {
  display: flex;
}

.legendas {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-right: auto;
  border-bottom: 1px solid black;
}

.legenda {
  border-right: 1px solid black;
  display: flex;
  width: fit-content;
  padding: 0.3rem;
}
