.legendas {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: fit-content;
  overflow: hidden;
  margin-right: 2rem;
}

.legenda {
  display: flex;
  width: 100%;
  padding: 0.3rem;
}
