.menu-de-quina {
  position: absolute;
  top: 7rem;
  z-index: 0;
  display: flex;
  width: 24rem;
  flex-direction: column;
}

.menu-de-quina-corpo {
  display: flex;
  flex-direction: row;
}

.menu-de-quina-titulo {
  display: flex;
  font-size: 1rem;
  padding-bottom: 0.7rem;
}
.botao.confirmar {
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: 1px solid black;
}

.botao.confirmar:hover {
  filter: brightness(90%);
}

.botao.cancelar {
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: 1px solid black;
  margin-left: 1rem;
}
